<section>

<h1>Fetching Object Array</h1>
    
<div>
    <input type="text" [(ngModel)]="inputField">
    <button (click)="addNewData()">Add new Data</button>
</div>
</section>

<div *ngIf=" dataObject.length > 0">
    <ul>
        <li *ngFor="let dataobject of dataObject; let i = index">
            {{dataobject.name}}
            <button (click)="deleteObject(i)">Delete Object</button>
        </li>
    </ul>   
</div>

<div *ngIf=" dataObject.length == 0">
    <p>There is no data to show....</p>
</div>

<div class="container" *ngIf="dataObject.length; else noCourses">
    <h1>All Courses</h1>
    ....
  </div>  
  
  <ng-template #noCourses>
    <h1>No courses available.</h1>
  </ng-template>

  <ng-container *ngIf="dataObject.length; then coursesList; else noCourses">
</ng-container>

<ng-template #coursesList>
 <h1>All courses available</h1>
 ....
</ng-template>

<ng-template #noCourses>
 <h1>No courses available.</h1>
</ng-template>