<p [class.text-blue] ="colorBlue" >navbar works!</p>

<p [style.color]="colorBlue? 'blue' : 'red'">Inline Style</p>

<img [src]="imageUrl" alt="">

<button (click)="increaseCounter()" > Increase </button> <!-- click is just one type of event -->
<button (click)="decreaseCounter()" > Increase </button> 


<p>{{counter}}</p>

<textarea name="textArea1" id="textArea1" cols="30" rows="10" (keyup.enter)="keyUp()" [(ngModel)]="textAreaContent">
    {{textAreaContent}}
</textarea>

<textarea name="textArea2" id="textArea2" cols="30" rows="10" (keyup.enter)="onKeyUpWithoutParameters()" [(ngModel)]="twoWayBindingVariable">
    {{twoWayBindingVariable}}
</textarea>


<input type="checkbox" name="" id="">

